body {
    margin: 0;
    padding: 0;
}

/* HEADER SECTION */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-logo {
    text-decoration: none;
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    padding-left: 80px;
}

.header-list {
    display: flex;
    gap: 44px;
}

.header-item {
    display: inline-block;
    color: #726E8D;
    font-family: Open Sans;
    font-size: 16px;
}

.header-icons {
    display: flex;
    padding-right: 80px;
    gap: 16px;
}

.header-link {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.header-cab {
    background-image: url(../imgs/cab.jpg);
}

.header-basket {
    background-image: url(../imgs/basket.jpg);
}

.header-search {
    background-image: url(../imgs/Search.jpg);
}

/* VIEW ALL PRODUCTS SECTION */

.view {
    margin: 29px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-text {
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    margin: 80px 0;
}

.view-list {
    display: flex;
    width: 1280px;
    justify-content: space-between;
    align-items: center;
}

.view-selectors {
    display: flex;
    gap: 12px;
}

.view-select {
    padding: 12px 24px;
    border: 1px solid white;
    outline: 1px solid white;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
}

.list-sort {
    display: flex;
    gap: 16px;
    align-items: center;
}

.list-text {
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 14px;
}

/* MAIN CONTENT SECTION */

.main {
    display: grid;
    grid-template-columns: 305px 305px 305px 305px;
    grid-template-rows: 462px 462px 462px;
    margin: 28px 80px;
    row-gap: 48px;
    column-gap:20px;
}

.main-link {
    text-decoration: none;
    display: inline-block;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 24px;
}

.wrapper-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.wrapper-item {
    display: inline-block;
}

.wrapper-item1 {
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 20px;
}

.wrapper-item2 {
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 18px;
}

.button {
    display: block;
    text-align: center;
    margin: auto;
    text-decoration: none;
    padding: 16px 32px;
    width: 111px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    background-color: #F9F9F9;
    margin-bottom: 40px;
    margin-top: 48px;
}

/* JOIN THE CLUB BENEFITS */

.ads {
    display: flex;
}

.ads-image-wrapper {
    width: 50%;
    background-image: url(../imgs/backgound-ads.jpg);
    height: 521px;
}

.ads-text {
    margin-left: 49px;
    position: relative;
}

.ads-text-title {
    color: var(--Dark-Primary, #2A254B);
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    padding-top: 71px;
    padding-bottom: 21px;
}

.ads-text-sub {
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 16px;
    width: 470px;
}

.ads-button {
    position: absolute;
    left: 72px;
    bottom: 70px;
    padding: 16px 32px;
    background-color: #2A254B;
    text-decoration: none;
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
}

.ads-input {
    position: absolute;
    bottom: 70px;
    left: 191px;
    width: 352px;
    height: 45px;
    font-size: 24px;
    outline: none;
    padding: 0;
}

/* FOOTER */

.footer{
    background-color: #2A254B;
}

.footer-info{
    background-color: #2A254B;
    display: flex;
    justify-content: space-around;
    padding: 58px 80px;
    align-items: center;
}

.footer-list{
    display: flex;
    flex-direction: column;
    height: 206px;
    align-items: flex-start;
    gap: 12px;
}

.footer-title {
    display: inline-block;
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.footer-item {
    display: inline-block;
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.footer-map {
    width: 642px;
    height: 195px;
    background-image: url(../imgs/footer-map.jpg);
}

hr{
    margin: 0;
    padding: 0;
    background-color: #4E4D93;
    border: 1px solid #4E4D93;
    width: 1280px;
    margin-left: 80px;
}

.footer-end{
    display: flex;
    justify-content: space-between;
    padding: 24px 80px;
    padding-right: 120px;
    align-items: center;
}

.copyright{
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 14px;
}

.footer-icons{
    display: flex;
    gap:24px;
}

.footer-icons-link{
    display: inline-block;
    width: 24px;
    height: 24px;
}

.linked-in{
    background-image: url(../imgs/logo--linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.facebook{
    background-image: url(../imgs/logo--facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.instagram{
    background-image: url(../imgs/logo--instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.skype{
    background-image: url(../imgs/logo--skype.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.twitter{
    background-image: url(../imgs/logo--twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.pinterest{
    background-image: url(../imgs/logo--pinterest.svg);
    background-repeat: no-repeat;
    background-position: center;
}